footer.VPFooter {
  // https://github.com/vuejs/vitepress/issues/1037#issuecomment-2182459377
  display: block !important;
}

iframe {
  border: 0;

  &[src^="https://www.google.com/maps/embed"]
  {
    margin-top: 1rem;
    width: 100%;
    aspect-ratio: 19 / 9;
  }
}
